extends layout

block content
	//- h1= title
	//- p Welcome to #{title}
	//- ul
	//-   li #[strong Categories:] !{category_count}
	//-   li #[strong Items:] !{item_count}
	h1= title
	h4(class= 'categories-title') Categories:
	div(class= 'categories-container') 

		each category in category_list
			ul
				li
					a(href=category.url) #{category.name}
				|  #{category.description}
		else
			li There are no categories.

