extends layout

block content

	div(class="item-container") 
		h1= title
		p <em>Description</em>: #{item.description}
		p <em>Category</em>: #{category_name}
		p <em>Price</em>: #{item.price}
		p <em>Quantity</em>: #{item.quantity}
		div(class="btn-container")
			a(href= item_url + "/delete") Delete
			a(href= item_url + "/update") Update
